@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  display: block;
  font-family: 'SF Pro Display', sans-serif;
}

.mobile-device-container {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 340px;
  height: 440px;
}

@media (width <= 1023px) {
  .mobile-device-container {
    width: 265px;
    height: 360px;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.img-slide-up {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  animation: slide-up 1s ease-out forwards;
}

@keyframes sign-and-stamp-images {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.sign-and-stamp-right {
  position: absolute;
  z-index: 100;
  right: -16%;
  bottom: 35%;
  transform: scale(0);

  width: 50%;

  animation: sign-and-stamp-images 400ms ease-out forwards;
  animation-delay: 1s;
}

.sign-and-stamp-left {
  position: absolute;
  z-index: 100;
  bottom: 25%;
  left: -18%;
  transform: scale(0);

  width: 50%;

  animation: sign-and-stamp-images 400ms ease-out forwards;
  animation-delay: 700ms;
}

@keyframes page-slide-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.batch-scanning-page1 {
  position: absolute;
  z-index: 10;
  bottom: 0%;
  transform: scale(0);

  width: 70%;

  animation: page-slide-up 400ms ease-out forwards;
  animation-delay: 800ms;
}

.batch-scanning-page2 {
  position: absolute;
  z-index: 20;
  bottom: -2%;
  transform: scale(0);

  width: 80%;

  animation: page-slide-up 400ms ease-out forwards;
  animation-delay: 1100ms;
}

.batch-scanning-page3 {
  position: absolute;
  z-index: 30;
  bottom: -6%;
  transform: scale(0);

  width: 90%;

  animation: page-slide-up 400ms ease-out forwards;
  animation-delay: 1400ms;
}

@keyframes advanced-filters-images {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.advanced-filters-left {
  position: absolute;
  z-index: 40;
  bottom: 5%;
  left: -6%;

  width: 11%;

  opacity: 0;

  animation: advanced-filters-images 400ms forwards;
  animation-delay: 1000ms;
}

.advanced-filters-right {
  position: absolute;
  z-index: 40;
  right: -6%;
  bottom: 5%;

  width: 11%;

  opacity: 0;

  animation: advanced-filters-images 400ms forwards;
  animation-delay: 1300ms;
}

@keyframes docs-slide-up {
  from {
    transform: translate(100%, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes docs-slide-up-three {
  from {
    transform: translate(-100%, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}

.export-and-share-arrow {
  position: absolute;
  z-index: 30;
  bottom: 5%;
  left: -15%;
  transform: translate(100%, 140%);

  width: 10%;

  animation: docs-slide-up 400ms forwards;
  animation-delay: 700ms;
}

.export-and-share-doc-one {
  position: absolute;
  z-index: 30;
  bottom: 1%;
  left: -10%;
  transform: translate(100%, 100%);

  width: 45%;

  animation: docs-slide-up 400ms forwards;
  animation-delay: 700ms;
}

.export-and-share-doc-two {
  position: absolute;
  z-index: 30;
  bottom: 9%;
  left: 30%;
  transform: translateY(200%);

  width: 38%;

  animation: page-slide-up 400ms forwards;
  animation-delay: 900ms;
}

.export-and-share-doc-three {
  position: absolute;
  z-index: 30;
  right: -10%;
  bottom: 1%;
  transform: translate(-100%, 100%);

  width: 45%;

  animation: docs-slide-up-three 400ms forwards;
  animation-delay: 1100ms;
}

@keyframes opacity-in-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.opacity-in {
  opacity: 0;
  animation: opacity-in-animation 400ms forwards;
}
